---
title: "Active Sessions and Two-Step Verification"
original: "https://telegram.org/blog/sessions-and-2-step-verification"
section: blog
date: 2015-04-08
description: "We know you love Telegram for its seamless multi-device sync. And since there are native Telegram apps for all major mobile, tablet and desktop OSs, a lot of you folks must be…"
crumbs: []
layout: layout.njk
---

# Active Sessions and Two-Step Verification

<img src="https://telegram.org/file/811140005/1/hqjDZ2zTTic/624cea28853b9fff64" class="blog_side_image">

We know you love Telegram for its seamless multi-device sync. And since there are native [Telegram apps](/apps/) for all major mobile, tablet and desktop OSs, a lot of you folks must be logged into your Telegram accounts from several devices at once.

Today's Telegram update, in addition to [rich link summaries](/blog/link-preview/), adds **Active Sessions** to your Privacy and Security settings. This screen shows all your logged in devices with IP info. You can also close any sessions that are outdated or (God forbid!) suspicious.

[<img src="https://telegram.org/file/811140873/1/vtc-TF_Mvz8/253385cfb2a505e07e" title="View all your active sessions with IP and device info" style="padding: 10px 5px; width: 195px">](https://telegram.org/file/811140873/1/vtc-TF_Mvz8/253385cfb2a505e07e)

[<img src="https://telegram.org/file/811140910/1/k2P-i_4kVDA/4415def0453216eb54" title="Terminate specific sessions" style="padding: 10px 5px; width: 195px">](https://telegram.org/file/811140910/1/k2P-i_4kVDA/4415def0453216eb54)

#### Two-Step Verification

Another addition to the Privacy and Security section is **Two Step Verification**. It allows you to set up a password that will be required every time you log into your account from a new device – in addition to the code you get in the SMS.

Be careful though: if you forget this password, you won't be able to access your messages from other devices. We recommend setting up a recovery e-mail or at least a hint for your password, if you decide to turn on **Two Step Verification**.

[<img src="https://telegram.org/file/811140324/3/g6mAtBDv-5g/a7c56ddd70bae4be14" title="Two-Step Verification in Settings" style="padding: 10px 5px; width: 195px">](https://telegram.org/file/811140324/3/g6mAtBDv-5g/a7c56ddd70bae4be14) [<img src="https://telegram.org/file/811140348/2/lwPC0Knqj_o/479a912951ba43f852" title="Two-Step Verification enabled" style="padding: 10px 5px; width: 195px">](https://telegram.org/file/811140348/2/lwPC0Knqj_o/479a912951ba43f852)  
  

Stay safe!

  

_April 8, 2015  
The Telegram Team_
